footer.footer
  .wrapper
    .footer__container
      .footer__brand-block
        img.footer__logo(src="images/logo.png" loading="lazy" width="297" height="297" alt="logo")
        .footer__brand.font-w-semi-bold.font-s-16 © EARTH PRINT, 2025
      a.footer__privacy.font-w-regular.font-s-14-a(href="#" data-remodal-target="privacy").agree-privacy Политика конфиденциальности
      .footer__call-me.btn.btn--small(data-remodal-target="modal-form-call-me") Заказать звонок
