header.header
  .header__container
    .header__brand-block
      img.header__logo(src="images/logo.png" loading="lazy" width="297" height="297" alt="logo")
      .header__brand
        .font-w-semi-bold.font-s-16-a EARTH PRINT
        .font-w-regular.font-s-14-a.color-grey Франшиза студии шелкографии
    .header__call-me.btn.btn--small(data-remodal-target="modal-form-call-me") Заказать звонок
  .header__brand-mobile.font-w-regular.font-s-14-a Франшиза студии шелкографии
