section.preview-section
  .wrapper
    .preview-section__container
      img.preview-section__icon(src="images/preview-section-icon.png" loading="lazy" width="806" height="809" alt="icon")
      h2.preview-section__title.font-w-b-bold.font-s-70.text-up
        | Посмотрите на примеры работ
        br
        span.color-l-blue нашей студии
      .swiper-bullet
        .preview-section__cards.swiper-wrapper
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-1.jpg" loading="lazy" width="280" height="404" alt="image")
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-2.jpg" loading="lazy" width="280" height="404" alt="image")
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-3.jpg" loading="lazy" width="280" height="404" alt="image")
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-4.jpg" loading="lazy" width="280" height="404" alt="image")
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-5.jpg" loading="lazy" width="280" height="404" alt="image")
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-6.jpg" loading="lazy" width="280" height="404" alt="image")
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-7.jpg" loading="lazy" width="280" height="404" alt="image")
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-8.jpg" loading="lazy" width="280" height="404" alt="image")
        .bullet-pagination
