section.steps-section
  .wrapper
    .steps-section__container
      img.steps-section__img-1(src="images/steps-section-img-1.png" loading="lazy" width="522" height="345" alt="image")
      img.steps-section__img-2(src="images/steps-section-img-2.png" loading="lazy" width="664" height="307" alt="image")
      h2.steps-section__title.font-w-b-bold.font-s-70.text-up
        | Как мы запустим вашу 
        br.no-br
        span.color-grey студию шелкографии 
        br.no-br
        span.font-s-100.color-l-blue за 37 дней
      .swiper-bullet
        .steps-section__cards.swiper-wrapper
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon-1.svg" loading="lazy" width="24" height="24" alt="icon")
            .font-w-b-regular.font-s-30.text-up.color-l-blue 1 шаг
            .font-s-16-b Заключение договора <br> франшизы
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon-2.svg" loading="lazy" width="24" height="24" alt="icon")
            .font-w-b-regular.font-s-30.text-up.color-l-blue 2 шаг
            .font-s-16-b Поиск помещения и <br> заключение договора <br> аренды
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon-3.svg" loading="lazy" width="24" height="24" alt="icon")
            .font-w-b-regular.font-s-30.text-up.color-l-blue 3 шаг
            .font-s-16-b Поиск персонала
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon-4.svg" loading="lazy" width="24" height="24" alt="icon")
            .font-w-b-regular.font-s-30.text-up.color-l-blue 4 шаг
            .font-s-16-b Доставка и монтаж <br> приобретенного <br> оборудования
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon-5.svg" loading="lazy" width="24" height="24" alt="icon")
            .font-w-b-regular.font-s-30.text-up.color-l-blue 5 шаг
            .font-s-16-b Формирование первичных <br> запасов расходных <br> материалов
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon-6.svg" loading="lazy" width="24" height="24" alt="icon")
            .font-w-b-regular.font-s-30.text-up.color-l-blue 6 шаг
            .font-s-16-b Запуск маркетинговых <br> кампаний
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon-7.svg" loading="lazy" width="24" height="24" alt="icon")
            .font-w-b-regular.font-s-30.text-up.color-l-blue 7 шаг
            .font-s-16-b Обучение персонала
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon-8.svg" loading="lazy" width="24" height="24" alt="icon")
            .font-w-b-regular.font-s-30.text-up.color-l-blue 8 шаг
            .font-s-16-b Старт работы
        .bullet-pagination
      .steps-section__bottom
        .font-w-semi-bold.font-s-20
          span.font-w-bold.color-l-blue Работаем строго по договору, 
          | в котором 
          br.no-br
          | описаны наши обязанности и все 
          br.no-br
          | условия сотрудничества
        button.btn.steps-section__btn(data-remodal-target="modal-form-agreement") Скачать пример договора
