$base-font-family = 'Montserrat-Medium'

$breakpoints = {
  xs: 480px,
  sm: 768px,
  md: 1024px,
  lg: 1200px,
  xl: 1300px,
  xxl: 1400px,
  xxxl: 1500px,
  xxxxl: 1920px,
  xxxxxl: 2100px,
  xxxxxxl: 3281px,
  xxxxxxxl: 6000px
}

$nbsp = ' '

$color-black-text = #080200
$color-l-blue = #00CEEE
$color-grey = #949494

$color-error = #d94c4c
$color-success = #35b24a
$color-warning = #ffa526
$color-white = #FFFFFF
$color-black = #000000

$color-privacy-btn = #45DF09
$color-bullet = #d7d7d7
$color-bullet-active = #45DF09
